[submodule "gpt-2"]
	path = gpt-2
	url = https://github.com/openai/gpt-2.git
[submodule "stable-diffusion"]
	path = stable-diffusion
	url = https://github.com/CompVis/stable-diffusion.git
[submodule "Tetris"]
	path = Tetris
	url = https://github.com/JelixLi/Tetris.git
[submodule "CrossWOZ"]
	path = CrossWOZ
	url = https://github.com/thu-coai/CrossWOZ.git
